.modal-background-signup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.modal-child-signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup-form-container {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10;
    background: #657586;
    padding: 50px;
    border-radius: 3px;
    font-family: sans-serif;
}

.signup-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.close-x-signup {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    text-align: center;
    font-size: 16px;
    color: lightgray;
    cursor: pointer;
}

.signup-form-container h1 {
    text-transform: uppercase;
    letter-spacing: .075em;
    font-weight: 400;
    font-size: 1.15384615rem;
    color: #2d3b4b;
    margin: 0;
}

.signup-form-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.signup-input {
    padding: 9px 9px 8px;
    border: none;
    font-size: 1.07692308rem;
    line-height: 1;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #cde;
    color: #567;
    display: block;
    width: 100%;
    margin-top: 2px;
}

.green-submit {
    color: white;
    cursor: pointer;
    background: #00b020;
    display: inline-block;
    width: 25%;
    padding: 6px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 12px;
    font-weight: 550;
    letter-spacing: .075em;
    border-radius: 3px;
    top: 30%;
    right: 3%;
}