.home-page {
    display: block;
    color: #fff;
}

.home-page > img {
    top: 0%;
    position: absolute;
    width: 100%;
    z-index: -1;
    background: black;
    object-fit: contain;
}

.home-backdrop {
    background-position: center -15px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0 auto;
    z-index: -2;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 660px;
}

.backdrop-fade {
    background-image: linear-gradient(90deg,#14181d 0,rgba(20,24,29,.98556487) .97%,rgba(20,24,29,.9451312) 2.07833333%,rgba(20,24,29,.88300656) 3.29666667%,rgba(20,24,29,.80349854) 4.60166667%,rgba(20,24,29,.71091472) 5.96666667%,rgba(20,24,29,.60956268) 7.365%,rgba(20,24,29,.50375) 8.77166667%,rgba(20,24,29,.39778426) 10.16%,rgba(20,24,29,.29597303) 11.505%,rgba(20,24,29,.20262391) 12.78%,rgba(20,24,29,.12204446) 13.95833333%,rgba(20,24,29,.05854227) 15.01666667%,rgba(20,24,29,.01642493) 15.92833333%,rgba(20,24,29,0) 16.66666667%,rgba(20,24,29,0) 83.33333333%,rgba(20,24,29,.01642493) 84.07166667%,rgba(20,24,29,.05854227) 84.98333333%,rgba(20,24,29,.12204446) 86.04166667%,rgba(20,24,29,.20262391) 87.22%,rgba(20,24,29,.29597303) 88.495%,rgba(20,24,29,.39778426) 89.84%,rgba(20,24,29,.50375) 91.22833333%,rgba(20,24,29,.60956268) 92.635%,rgba(20,24,29,.71091472) 94.03333333%,rgba(20,24,29,.80349854) 95.39833333%,rgba(20,24,29,.88300656) 96.70333333%,rgba(20,24,29,.9451312) 97.92166667%,rgba(20,24,29,.98556487) 99.03%,#14181d),linear-gradient(0deg,#14181d 0,#14181d 21.48148148%,rgba(20,24,29,.98556487) 23.63703704%,rgba(20,24,29,.9451312) 26.1%,rgba(20,24,29,.88300656) 28.80740741%,rgba(20,24,29,.80349854) 31.70740741%,rgba(20,24,29,.71091472) 34.74074074%,rgba(20,24,29,.60956268) 37.84814815%,rgba(20,24,29,.50375) 40.97407407%,rgba(20,24,29,.39778426) 44.05925926%,rgba(20,24,29,.29597303) 47.04814815%,rgba(20,24,29,.20262391) 49.88148148%,rgba(20,24,29,.12204446) 52.5%,rgba(20,24,29,.05854227) 54.85185185%,rgba(20,24,29,.01642493) 56.87777778%,rgba(20,24,29,0) 58.51851852%);
    background-position: center -15px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0 auto;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 675px;
}

.home-headline {
    font-size: 50px;
    position: relative;
    top: 66%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-family: serif;
    display: block;
    color: #fff;
    padding-top: 50px;
}

.home-sign-up {
    font-size: 40px;
    position: relative;
    top: 65%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-family: sans-serif;
    margin-right: 25%;
    padding-top: 20px;
}

.home-sign-up > .green-submit {
    font-size: 15px;
    font-weight: 300;
    border-radius: 3px;
}

.home-sign-up > .green-submit:hover {
    background-color: #009c27;
}

.home-film-list {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 60%;
    background: #14181c;
    padding-left: 20%;
    padding-right: 20%;
    height: 350px;
}

.poster-link img {
    width: 150px;
    height: 225px;
    border-radius: 8px;
    border: 1px solid transparent;
}

.poster-link img:hover {
    border: 1px solid #00e054;
    background-color: #fff;
    color: #fff;
}

@media only screen and (max-width: 1000px) {
    .poster-link img {
        width: 180px;
        height: 270px;
        border-radius: 3px;
        border: 1px solid transparent;
    }

    .home-film-list {
        margin-top: 30px;
        margin-bottom: 30px;
        flex-wrap: wrap;
    }

    .cineboxd-lets-you-box {
        width: 100%;
    }

    .letterboxd-horizontal {
        max-width: 600px;
    }
    
    .cineboxd-lets-you-box i {
        font-size: 40px;
    }

    .home-page p {
        font-size: 36px;
    }

    .home-page .home-headline {
        font-size: 50px;
    }

    .home-page .home-sign-up {
        font-size: 40px;
    }
}

.cineboxd-lets-you {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 30px;
}

.cineboxd-lets-you-box {
    background: #456;
    color: #fff;
    width: 250px;
    height: 100px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    border-radius: 6px;
}

.cineboxd-lets-you-box * {
    margin-left: 10px;
    margin-right: 10px;
}

.cineboxd-lets-you-box > i {
    font-size: 20px;
}

.center-headlines {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.letterboxd-horizontal {
    max-width: 770px;
}

.home-page-bottom-half {
    background: #14181c;
}